<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Spring_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.itcast.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getList</display-name>
    <servlet-name>getList</servlet-name>
    <servlet-class>cn.itcast.servlet.getList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getList</servlet-name>
    <url-pattern>/getList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delStuById</display-name>
    <servlet-name>delStuById</servlet-name>
    <servlet-class>cn.itcast.servlet.delStuById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delStuById</servlet-name>
    <url-pattern>/delStuById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findById</display-name>
    <servlet-name>findById</servlet-name>
    <servlet-class>cn.itcast.servlet.findById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findById</servlet-name>
    <url-pattern>/findById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStu</display-name>
    <servlet-name>addStu</servlet-name>
    <servlet-class>cn.itcast.servlet.addStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStu</servlet-name>
    <url-pattern>/addStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editStu</display-name>
    <servlet-name>editStu</servlet-name>
    <servlet-class>cn.itcast.servlet.editStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editStu</servlet-name>
    <url-pattern>/editStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delAll</display-name>
    <servlet-name>delAll</servlet-name>
    <servlet-class>cn.itcast.servlet.delAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delAll</servlet-name>
    <url-pattern>/delAll</url-pattern>
  </servlet-mapping>
</web-app>